html{
    background-color:rgb(82, 82, 82);
    font-family:sans-serif;
}

header{
    height: 10%;
    width:40%;
    text-align: center;
    margin:auto;
}

h1{
    padding-top:2px;
    padding-bottom:2px;
    color:white;
    margin:auto;
    font-weight:100;
}

main{
    max-width:600px;
    height:700px;
    margin:auto;
    padding:1px;
    background-color: rgb(48, 48, 48);
}

p{color:red;}

.form-item{
  margin: 20px auto;
  width: 80%;
}

.form-item label{
  font-size:16px;
  font-weight:bold;
  font-family:sans-serif;
  color: white;
}

.form-item input, #btnsubmit{
  font-family:inherit;
  font-size: 15px;
  padding: 6px;
  box-sizing:border-box;
  border:2px solid #d5d5d5;
  width:100%;
  outline:none;
  display: block;
}

#btnsubmit{
  cursor:pointer;
  width: 40%;
  margin:auto;
}



footer{
    width:50%;
    height:30px;
    margin:auto;
    color: white;
    text-align: center;

}
